.user-photo {
    height: 40px;
    width: 40px;
}

.user-card-container{
    height: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    gap: 20px;
}